a {
    color: #228b22;
    font-weight: bold;
    text-decoration: none;
}

body {
    background-color: #8fbc8f;
    font-family: rokkitt;
    font-size: 18px;
    height: 100vh;
    margin: auto;
}


h1 {
    margin-bottom: -30px;
}

h2 {
    font-family: cairo;
}

h3 {
    padding-left: 20px;
}

/* When I combine the headings, c9 gives me a warning. Should I just have repeated it under each one? */

h1, h3, h4 {
    color: #8b0000;
    font-family: cairo; 
}

img {
    border: 2px solid #228b22;
    border-radius: 2px;
    height: auto;
    margin-top: 15px;
    max-width: 100%;
}

.nav {
    background-color: #f0ffff;
    font-family: cairo;  
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 3px 0px;
    text-align: center;
  
}

.nav li {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    height: 100%;
    margin: 0px 0px 11px 0px;
    padding: 20px 80px;

}


/* Index Code */

.fp {
    background-image: url(images/pins.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

#nav {
    color: #000000;
    font-family: cairo;
    padding: 20px 20px 0px 10px;
    width: 22%;
}

#nav li {
    border: 3px solid #228b22;
    border-radius: 15px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 10px 10px 10px 15px;
}

#title1 {
    color: #228b22;
    font-family: cairo;
    margin-top: 460px;
    padding-right: 30px;
    text-align: right;
}


/* Pins Page Code */


.chaney img {
    margin-top: 80px;
}

.container {
    margin: auto;
    width: 75%;
}

.pic {
    padding-top: 20px;
    width: 50%;
}

.pin {
    background-color: #f0ffff;
    border: 1px solid #000000;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 15px 15px 15px;
    width: 80%;
}


.price img {
    margin: 100px; 

}


.text {
    margin-right: 70px;
/*    background-color: #8fbc8f; */
    padding: 0px ;
    padding-left: 20px;
    width: 50%;
}



/* Exhibits Page Code */

.exhibits {
    background-color: #f0ffff;
    border: 2px solid #228b22;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    width: 85%;
}

.ch {
    margin: auto;
}

.imgs {
    margin: auto;
}

.imgs img {
    border: 0px; 
    padding: 20px;
}


/* Resources Code */

.buy {
    
    background-color: #f0ffff;
    border: 2px solid #228b22;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px 0px 30px 70px;
    
}

/* Code for ul altered because looks different in Brackets */

.buy ul {
    column-count: 3;
    list-style-type: none;
}

.go {
    background-color: #f0ffff;
    border: 2px solid #228b22;
    border-bottom-right-radius: 150px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px 0px 30px 70px;
}

.read {
    background-color: #f0ffff;
    border: 2px solid #228b22;
    border-top-left-radius: 150px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 40px;
    padding: 20px 0px 30px 70px;
}

.sources {
    background-color: #000000;
    border: 20px solid #000000;
    font-size: 21px;
    margin: auto;
    width: 55%;
}

.sources h1 {
    margin: auto;
}

.sources li {
    padding: 3px;
}

.sources ul {
    margin-left: 20px; 
}

#rnav {
    margin-bottom: 0px;

}

/* About Code */

.blurb {
    font-size: 25px;
    margin: auto;
    padding: 10px 0px;
    width: 45%;
}

.fill {
     background-color: #f0ffff;
     color: #228b22;
     padding: 15px;
     text-align: center;
}

#form {
    background-color: #f0ffff;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    padding: 20px 0px 15px 40px;
    width: 15%;
}

input {
    padding: 5px;
}



